<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blesh.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/blesh_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".blesh.BleshTemplateResultReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.blesh.sdk.templateresultaction" />
            </intent-filter>
        </receiver>

        <service android:name=".blesh.BleshHelperService" />

    </application>
</manifest>